@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Fira Sans", sans-serif;
  background: #001d3d;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
  background-color: rgba(65, 105, 225, 0);
}

.slider-con {
  position: relative;
  background-image: url("https://res.cloudinary.com/dd61rrbxs/image/upload/v1693194653/Group_2_pjdiuf.png");
  background-size: cover;
  background-position: center;
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
}
@media only screen and (min-width: 768px) {
  .slider-con {
    padding-top: 100px;
  }
}
.slider-con .slider-main {
  background: rgba(18, 104, 130, 0);
}
.slider-con .slider-main h3 {
  color: #219ebc;
  background: rgba(18, 104, 130, 0);
  font-size: 18px;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .slider-con .slider-main h3 {
    font-size: 24px;
  }
}
.slider-con .slider-main .about-mobile {
  background: rgba(18, 104, 130, 0);
  color: rgba(255, 255, 255, 0.778);
  line-height: 2;
  font-size: 13px;
  line-height: 15px;
  font-family: Fira Sans;
}
@media only screen and (min-width: 768px) {
  .slider-con .slider-main .about-mobile {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .slider-con .slider-main .about-mobile {
    display: none;
  }
}
.slider-con .slider-main .about-mobile span {
  background: rgba(18, 104, 130, 0);
  color: #8ecae6;
  margin-left: 5px;
  cursor: pointer;
}
.slider-con .slider-main .about-desktop {
  background: rgba(18, 104, 130, 0);
  color: rgba(255, 255, 255, 0.778);
  line-height: 2;
  font-size: 13px;
  display: none;
  line-height: 25px;
}
@media only screen and (min-width: 768px) {
  .slider-con .slider-main .about-desktop {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .slider-con .slider-main .about-desktop {
    display: block;
  }
}
.slider-con .slider-main .about-desktop span {
  background: rgba(18, 104, 130, 0);
  color: #8ecae6;
  margin-left: 5px;
  cursor: pointer;
}
.slider-con .slider-Image-bg {
  margin-top: 30px;
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
@media only screen and (min-width: 768px) {
  .slider-con .slider-Image-bg {
    height: 400px;
  }
}
@media only screen and (min-width: 768px) {
  .slider-con .slider-Image-bg {
    height: 600px;
  }
}
.slider-con .slider-Image-bg .slider-img-con {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.slider-con .slider-Image-bg .slider-img-con .carousel-items-con {
  position: absolute;
  top: 0 !important;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio for landscape images */
}
.slider-con .slider-Image-bg .slider-img-con .carousel-items-con .img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}/*# sourceMappingURL=Slider.css.map */