@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
  background-color: rgba(65, 105, 225, 0);
}

.app-main-con {
  overflow-x: hidden;
}

.icon {
  font-size: 30px;
  color: #ea9319;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .icon {
    font-size: 40px;
  }
}

.homepage-main-con {
  padding: 50px 0;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .homepage-main-con {
    padding: 0;
  }
}
.homepage-main-con .post-memory {
  border: 2px solid red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.homepage-main-con .post-memory .post-icon {
  font-size: 60px;
  font-weight: bolder;
}
@media only screen and (min-width: 768px) {
  .homepage-main-con .post-memory {
    left: 90%;
    bottom: 30px;
  }
}

.topbar-main-con {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 200;
  width: 100vw;
  position: sticky;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 5px 5px 10px #eee;
}
.topbar-main-con .topbar-top-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 5px 10px;
  position: sticky;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(4, 4, 40, 0.5019607843); /* Set your desired color and opacity */
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.topbar-main-con .topbar-top-con form {
  height: 35px;
  width: 55%;
  max-width: 400px;
}
.topbar-main-con .topbar-top-con form input {
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 5px;
}
.topbar-main-con .topbar-top-con .topbar-top-con-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.topbar-main-con .topbar-top-con .topbar-top-con-right .cart-icon-con {
  border-radius: 50%;
  overflow: hidden;
}
.topbar-main-con .topbar-top-con .topbar-top-con-right .cart-icon-con Image {
  -o-object-fit: contain;
     object-fit: contain;
}

.product-session-con {
  background: whitesmoke;
  padding: 10px 0;
  width: 100%;
  overflow-x: hidden;
}
@media only screen and (min-width: 768px) {
  .product-session-con {
    padding: 20px 0;
  }
}
.product-session-con .product-main-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding-bottom: 10px;
}
.product-session-con .product-main-con form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 10px;
}
.product-session-con .product-main-con form div {
  width: 100%;
  max-width: 300px;
  margin: 0 10px;
  border: 1px solid #666;
  text-align: center;
}
.product-session-con .product-main-con form label {
  color: #666;
}
.product-session-con .product-main-con form select {
  width: 100%;
  height: 40px;
  padding: 0 5px;
  outline: none;
  border: none;
}
.product-session-con .product-main-con p {
  cursor: pointer;
  color: #ea9319;
  margin-top: 20px;
}
.product-session-con .product-main-con .products-con {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .product-session-con .product-main-con .products-con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
.product-session-con .product-main-con .products-con .products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 45%;
  margin: 5px;
  border-radius: 5px;
  background: white;
  overflow: hidden;
  border-right: 1px solid #f5f3f3;
  box-shadow: -1px -1px 2px rgba(128, 128, 128, 0.368627451);
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .product-session-con .product-main-con .products-con .products {
    width: 32%;
  }
}
.product-session-con .product-main-con .products-con .products .main-poster-con {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.product-session-con .product-main-con .products-con .products .unknown-avata {
  font-size: 30px;
}
.product-session-con .product-main-con .products-con .products .poster-name {
  width: 100%;
  line-height: 1;
  padding: 2px 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.product-session-con .product-main-con .products-con .products .poster-name .profile-img {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  border: 2px solid red;
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  height: 30px;
}
@media only screen and (min-width: 768px) {
  .product-session-con .product-main-con .products-con .products .poster-name .profile-img {
    width: 50px;
    height: 50px;
  }
}
.product-session-con .product-main-con .products-con .products .poster-name .profile-img .img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-session-con .product-main-con .products-con .products .poster-name .profile-name {
  margin-left: 3px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .product-session-con .product-main-con .products-con .products .poster-name .profile-name {
    margin-left: 4px;
  }
}
.product-session-con .product-main-con .products-con .products .poster-name .profile-name span {
  font-weight: 600;
  color: #444;
}
@media only screen and (min-width: 768px) {
  .product-session-con .product-main-con .products-con .products .poster-name .profile-name span {
    font-size: 20px;
  }
}
.product-session-con .product-main-con .products-con .products .poster-name .profile-name i {
  font-style: normal;
  font-size: 10px;
  color: #666;
}
@media only screen and (min-width: 768px) {
  .product-session-con .product-main-con .products-con .products .poster-name .profile-name i {
    font-size: 15px;
  }
}
.product-session-con .product-main-con .products-con .products .product-name {
  margin-top: 3px;
  font-size: 12px;
  color: #444;
  padding-left: 5px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: lowercase;
}
@media only screen and (min-width: 768px) {
  .product-session-con .product-main-con .products-con .products .product-name {
    font-size: 15px;
  }
}
.product-session-con .product-main-con .products-con .products .product-img {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
@media only screen and (min-width: 320px) {
  .product-session-con .product-main-con .products-con .products .product-img {
    height: 180px;
  }
}
@media only screen and (min-width: 768px) {
  .product-session-con .product-main-con .products-con .products .product-img {
    height: 350px;
  }
}
@media only screen and (min-width: 1024px) {
  .product-session-con .product-main-con .products-con .products .product-img {
    height: 320px;
  }
}
@media only screen and (min-width: 1200px) {
  .product-session-con .product-main-con .products-con .products .product-img {
    height: 420px;
  }
}
.product-session-con .product-main-con .products-con .products .product-img .home-product-img {
  transition: transform 0.3s linear;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-session-con .product-main-con .products-con .products .product-img .home-product-img:hover {
  transform: scale(1.1);
}
.product-session-con .product-main-con .products-con .products .likenshare {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 5px;
  color: #666;
  margin-top: 3px;
}
.product-session-con .product-main-con .products-con .products .likenshare span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.product-session-con .product-main-con .products-con .products .likenshare span sub {
  font-weight: normal;
  font-size: 10px;
  margin-top: 3px;
  height: 6px;
}
@media only screen and (min-width: 768px) {
  .product-session-con .product-main-con .products-con .products .likenshare span sub {
    font-size: 15px;
  }
}
.product-session-con .product-main-con .products-con .products .likenshare .likenshareicon {
  font-weight: 300;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media only screen and (min-width: 768px) {
  .product-session-con .product-main-con .products-con .products .likenshare .likenshareicon {
    font-size: 35px;
  }
}
.product-session-con .product-main-con .products-con .products .likenshare .likenshareicon sub {
  text-align: center;
  font-size: 13px;
  margin-top: 15px;
  margin-left: -3px;
}
.product-session-con .product-main-con .products-con .products .likenshare .likenshareicon .like-red {
  animation: like 0.2s linear;
}
@keyframes like {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.product-session-con .product-main-con .products-con .products .likenshare .comment {
  font-size: 15px;
}
.product-session-con .product-main-con .products-con .products .addto-cart {
  border: 1px solid red;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.product-session-con .product-main-con .products-con .products .addto-cart:hover {
  background: #ea9319;
  color: white;
}

.loader-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #ea9319;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
.ad-con {
  position: relative;
  width: 100%;
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .ad-con {
    margin-top: 70px;
  }
}
.ad-con .ad-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 2px solid red;
  margin: 0 auto;
  height: 150px;
  border-radius: 10px;
  width: 98vw;
  padding-left: 5px;
}
@media only screen and (min-width: 768px) {
  .ad-con .ad-img {
    height: 250px;
  }
}
@media only screen and (min-width: 1024px) {
  .ad-con .ad-img {
    width: 50vw;
    height: 250px;
  }
}
.ad-con .ad-img img {
  margin: 0 auto;
  cursor: pointer;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100px;
  width: 30vw;
  border: 1px solid red;
}
@media only screen and (min-width: 768px) {
  .ad-con .ad-img img {
    height: 100px;
    width: 30vw;
  }
}
.ad-con .ad-img h3 {
  text-align: center;
  color: #ea9319;
  font-size: 15px;
}

.modal-main-con {
  position: relative;
  -webkit-backdrop-filter: blur(10px) !important;
          backdrop-filter: blur(10px) !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.modal-main-con .modal-relative {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  height: 100% !important;
  margin-top: auto !important;
}
.modal-main-con .modal-relative .modal-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: -5px -10px 15px rgba(128, 128, 128, 0.6235294118);
  border-radius: 5px;
  width: 90% !important;
  max-width: 400px;
  position: relative;
  background: white;
}
@media only screen and (min-width: 480px) and (orientation: landscape) {
  .modal-main-con .modal-relative .modal-card {
    transform: rotateZ(90deg) !important;
    max-width: 300px !important;
  }
}
@media only screen and (min-width: 768px) {
  .modal-main-con .modal-relative .modal-card {
    transform: rotateZ(0deg) !important;
    max-width: 400px !important;
  }
}
.modal-main-con .modal-relative .modal-card .go-back {
  position: absolute;
  z-index: 20;
  cursor: pointer;
  top: 5px;
  left: 5px;
  background: #ea9319;
  border: 1px solid rgba(128, 128, 128, 0.168627451);
  color: white;
  width: 30px !important;
  height: 30px;
  padding: 5px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bolder;
}
.modal-main-con .modal-relative .modal-card .go-back:hover {
  background: gray;
}
.modal-main-con .modal-relative .modal-card .go-back-form {
  position: absolute;
  z-index: 20;
  cursor: pointer;
  top: -20px;
  left: 0px;
  background: #ea9319;
  border: 1px solid rgba(128, 128, 128, 0.168627451);
  color: white;
  width: 30px;
  height: 30px;
  padding: 5px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bolder;
}
.modal-main-con .modal-relative .modal-card .go-back-form:hover {
  background: gray;
}
@media only screen and (min-width: 1024px) {
  .modal-main-con .modal-relative .modal-card .go-back-form {
    top: 0px;
    left: -80px;
  }
}
.modal-main-con .modal-relative .modal-card .modal-img-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.modal-main-con .modal-relative .modal-card .modal-img-con img {
  width: 70% !important;
}
.modal-main-con .modal-relative .modal-card .modal-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal-main-con .modal-relative .modal-card .modal-text p {
  color: #666;
  text-align: center;
}
.modal-main-con .modal-relative .modal-card .modal-text .modal-link {
  margin: 20px;
  width: 50%;
  text-align: center;
  background: #ea9319;
  color: white;
  padding: 10px;
  animation: signin 2s ease-in-out infinite;
}
.modal-main-con .modal-relative .modal-card .modal-text .modal-link:hover {
  background: #a97617;
}
@keyframes signin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.modal-main-con .modal-relative .modal-card h3 {
  padding-top: 10px;
  text-align: center;
}
.modal-main-con .modal-relative .modal-card .form-con {
  height: 550px;
  width: 100%;
  overflow: scroll;
}
.modal-main-con .modal-relative .modal-card .form-con form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal-main-con .modal-relative .modal-card .form-con form input,
.modal-main-con .modal-relative .modal-card .form-con form select {
  width: 90%;
  height: 40px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}
.modal-main-con .modal-relative .modal-card .form-con form span {
  margin-top: -10px;
  width: 90%;
  text-align: left;
}
.modal-main-con .modal-relative .modal-card .form-con form .Box .add-new-input {
  width: 90%;
  margin-top: -5px;
}
.modal-main-con .modal-relative .modal-card .form-con form .Box .add-new-input p {
  margin-left: auto;
  font-size: 13px;
  color: blue;
}
.modal-main-con .modal-relative .modal-card .form-con form .mantine-group {
  position: relative;
}
.modal-main-con .modal-relative .modal-card .form-con form .mantine-group .remove-input-icon {
  position: absolute;
  font-size: 20px;
  right: 5%;
}
.modal-main-con .modal-relative .modal-card .form-con form .selectedImg {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}/*# sourceMappingURL=Style.css.map */