// @import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@300&family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
  background-color: rgba(65, 105, 225, 0);
}

$font-family: "Poppins", sans-serif;
$bg-light: #f9f9f9;
$font-light: #666;
$bg-gray: #eee;
$bg-dark-gray: #444;
$bg-dark: #342e37;
$txt-blue: #ea9319;
$txt-light-blue: #cfe8ff;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (min-width: 320px) {
      @content;
    }
  }
  @if $breakpoint==bigphone {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint==tablet {
    @media only screen and (min-width: 1023px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
}

// APP MAIN CON
.app-main-con {
  overflow-x: hidden;
}
// icons
.icon {
  font-size: 30px;
  color: $txt-blue;
  cursor: pointer;

  @include responsive(bigphone) {
    font-size: 40px;
  }
}
// HOME PAGE MAIN CON
.homepage-main-con {
  padding: 50px 0;
  // background: #eee;
  position: relative;
  @include responsive(bigphone) {
    padding: 0;
  }

  .post-memory {
    border: 2px solid red;
    @include flexDisplay(space-around, center, column);
    width: 80px;
    height: 80px;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 10px;
    border-radius: 50%;
    cursor: pointer;
    .post-icon {
      font-size: 60px;
      font-weight: bolder;
    }

    @include responsive(bigphone) {
      left: 90%;
      // right: 20px;
      bottom: 30px;
    }
  }
}

// TOP BAR
.topbar-main-con {
  @include flexDisplay(space-around, center, column);
  position: relative;
  z-index: 200;
  width: 100vw;
  position: sticky;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 5px 5px 10px $bg-gray;

  .topbar-top-con {
    @include flexDisplay(space-between, center, row);
    width: 100%;
    padding: 5px 10px;
    position: sticky;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #04042880; /* Set your desired color and opacity */
    backdrop-filter: blur(5px);

    form {
      height: 35px;
      width: 55%;
      max-width: 400px;
      input {
        width: 100%;
        height: 100%;
        padding: 5px;
        border-radius: 5px;
      }
    }
    .topbar-top-con-right {
      @include flexDisplay(space-between, center, row);
      .cart-icon-con {
        // border: 2px solid red;
        border-radius: 50%;
        overflow: hidden;
        Image {
          object-fit: contain;
        }
      }
    }
  }
}

// images
.product-session-con {
  // border: 2px solid red;
  background: whitesmoke;

  padding: 10px 0;
  width: 100%;

  overflow-x: hidden;

  @include responsive(bigphone) {
    // margin-top: 100px;
    padding: 20px 0;
  }
  .product-main-con {
    @include flexDisplay(space-between, center, column);
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;

    form {
      @include flexDisplay(center, center, row);
      width: 100%;
      padding: 10px;

      div {
        width: 100%;
        max-width: 300px;
        margin: 0 10px;
        border: 1px solid $font-light;
        text-align: center;
      }
      label {
        color: $font-light;
      }
      select {
        width: 100%;
        height: 40px;
        padding: 0 5px;
        outline: none;
        border: none;
      }
    }
    p {
      cursor: pointer;
      color: $txt-blue;
      margin-top: 20px;
    }

    .products-con {
      @include flexDisplay(space-evenly, flex-start, row);
      flex-wrap: wrap;
      margin-top: 30px;
      width: 100%;

      @include responsive(bigphone) {
        @include flexDisplay(center, center, row);
      }

      .products {
        @include flexDisplay(space-between, center, column);
        width: 45%;
        margin: 5px;
        border-radius: 5px;
        background: white;
        overflow: hidden;
        border-right: 1px solid #f5f3f3;
        box-shadow: -1px -1px 2px #8080805e;
        position: relative;
        @include responsive(tablet) {
          width: 32%;
        }
        .main-poster-con {
          @include flexDisplay(space-between, flex-start, column);
        }
        .unknown-avata {
          font-size: 30px;
        }
        .poster-name {
          width: 100%;
          line-height: 1;
          padding: 2px 4px;
          @include flexDisplay(flex-start, center, row);

          .profile-img {
            @include flexDisplay(space-between, flex-start, column);
            border: 2px solid red;
            border-radius: 50%;
            overflow: hidden;
            width: 30px;
            height: 30px;

            @include responsive(bigphone) {
              width: 50px;
              height: 50px;
            }
            .img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .profile-name {
            margin-left: 3px;
            @include flexDisplay(space-between, flex-start, column);
            @include responsive(bigphone) {
              margin-left: 4px;
            }
            span {
              font-weight: 600;
              color: $bg-dark-gray;

              @include responsive(bigphone) {
                font-size: 20px;
              }
            }
            i {
              font-style: normal;
              font-size: 10px;
              color: $font-light;
              @include responsive(bigphone) {
                font-size: 15px;
              }
            }
          }
        }
        .share-btn {
          position: absolute;
          z-index: 23;
          border-bottom-left-radius: 12px;
          top: -20px;
          right: 0px;
          background: #8080807d;
          backdrop-filter: blur(10px);
          color: white;
          text-align: center;
          padding: 3px;
          font-size: 22px;
          height: 33px;
        }
        .product-name {
          margin-top: 3px;
          font-size: 12px;
          color: $bg-dark-gray;
          padding-left: 5px;
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          text-transform: lowercase;

          @include responsive(bigphone) {
            font-size: 15px;
          }
        }

        .product-img {
          width: 100%;
          border-radius: 5px;
          overflow: hidden;
          position: relative;

          @include responsive(phone) {
            height: 180px;
          }
          @include responsive(bigphone) {
            height: 350px;
          }
          @include responsive(tablet) {
            height: 320px;
          }
          @include responsive(desktop) {
            height: 420px;
          }

          .home-product-img {
            // height: 100%;
            transition: transform 0.3s linear;
            object-fit: cover;

            &:hover {
              transform: scale(1.1);
            }
          }
        }

        .likenshare {
          @include flexDisplay(space-between, center, row);
          width: 100%;
          padding: 5px;
          color: $font-light;
          margin-top: 3px;

          span {
            @include flexDisplay(center, center, column);
            position: relative;

            sub {
              font-weight: normal;
              font-size: 10px;
              margin-top: 3px;
              height: 6px;
              @include responsive(bigphone) {
                font-size: 15px;
              }
            }
          }
          .likenshareicon {
            cursor: pointer;
            font-size: 25px;
            font-weight: 300;

            @include responsive(bigphone) {
              font-size: 35px;
            }

            .like-red {
              animation: like 0.2s linear;

              @keyframes like {
                0% {
                  transform: scale(1.1);
                }
                100% {
                  transform: scale(1);
                }
              }
            }
          }
          .comment {
            font-size: 15px;
          }
        }

        .addto-cart {
          border: 1px solid red;
          width: 100%;
          margin: 0 auto;
          text-align: center;
          font-size: 15px;
          border-radius: 5px;
          cursor: pointer;
          background: white;
          @include flexDisplay(center, center, row);

          &:hover {
            background: $txt-blue;
            color: white;
          }
        }
      }
    }
    padding-bottom: 10px;
  }
}

// NEWS LETTER

.newsletter {
  // background: url(https://res.cloudinary.com/isreal/image/upload/v1662211845/jayflix%20vid%20posters/photo_2022-09-02_18-40-11_u8gi0i.jpg)
  //   no-repeat;
  background: $txt-blue;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  @include flexDisplay(center, center, row);
  // margin-top: 20px;
  padding: 10px 0;

  form {
    width: 90%;
    text-align: center;
    padding: 5px 0;
    // border: 1px solid red;
    @include flexDisplay(center, center, column);

    @include responsive(bigphone) {
      max-width: 500px;
      height: 200px;
    }

    .btn {
      // width: 150px;
      // height: 40px;
      cursor: pointer;
      padding: 10px 20px;
      background: $txt-blue;
      color: white;
      border: 1px solid $bg-gray;
      border-radius: 5px;
      font-size: 18px;
      margin-top: 10px;

      &:hover {
        background: $font-light;
      }
      @include responsive(bigphone) {
        font-size: 25px;
        width: 210px;
      }
    }

    h3 {
      font-size: 15px;
      color: #fff;
      padding-bottom: 0.7rem;
      font-weight: normal;

      @include responsive(bigphone) {
        font-size: 20px;
      }
    }

    .box {
      width: 100%;
      margin: 0.7rem 0;
      padding: 12px 5px;
      font-size: 17px;
      color: var(--black);
      border-radius: 5px;
      text-transform: none;
      border: none;

      &:focus {
        border: 1px solid $txt-blue;
      }
    }
  }
}

// PROMO
.deal {
  // border: 2px solid red;
  margin-top: 50px;
  align-items: center;
  position: relative;
  padding: 5px;

  @include responsive(bigphone) {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .content {
    width: 75%;
    // border: 2px solid red;
    @include responsive(bigphone) {
      // max-width: 500px;
      width: 60%;
    }
    h3 {
      color: $font-light;
      font-size: 20px;
      padding-bottom: 0.5rem;

      @include responsive(bigphone) {
        font-size: 25px;
      }
    }

    h1 {
      color: $txt-blue;
      font-size: 45px;
      margin-bottom: 20px;

      @include responsive(bigphone) {
        font-size: 90px;
      }
    }

    a {
      padding: 10px 20px;
      background: $txt-blue;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      margin-top: 10px;

      @include responsive(bigphone) {
        padding: 15px 50px;
        font-size: 25px;
        width: 210px;
        margin-top: 20px;
      }
      @include responsive(bigphone) {
        font-size: 25px;
        width: 210px;
      }
      &:hover {
        background: $font-light;
      }
    }
  }

  .fade-con {
    // border: 2px solid rgb(0, 255, 34);
    width: 100vw;
    height: 200px;
    float: right;
    width: 150px;
    position: relative;
    margin-top: -170px;

    overflow: hidden;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);

    // box-shadow: -10px -10px 10px rgba(128, 128, 128, 0.368);

    @include responsive(bigphone) {
      width: 35%;
      height: 400px;
      // border: 2px solid red;
      margin-top: 10px;
      background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
    }
    .image {
      position: relative;
      // border: 2px solid red;

      img {
        height: 200px;
        border-radius: 5px;
        position: absolute;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);

        // display: none;
        @include responsive(bigphone) {
          height: 400px;
          border-radius: 10px;
          // border: 2px solid red;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .deal {
    padding: 0 1px 0 2px;
  }
  .fade-con {
    margin-top: -70px !important;
  }
  .deal .content h3 {
    font-size: 15px;
  }
  .deal .content h1 {
    font-size: 29px;
  }
  .deal .content a {
    padding: 10px 20px;
  }
}

// REVIEW
.review-main-con {
  // border: 2px solid red;

  background: whitesmoke;
  padding: 0 5px;
  margin: 0 auto;
  margin: 130px 0 0 0;
  width: 100vw;

  @include responsive(bigphone) {
    height: 350px;
  }

  h1 {
    text-align: center;
    color: $txt-blue;
    // margin-left: 5px;
    padding: 20px;
    font-size: 30px;

    @include responsive(tablet) {
      font-size: 50px;
    }
  }
  .review {
    @include flexDisplay(center, flex-start, column);
    height: 100%;
    // border: 2px solid red;
    .review-con {
      border-radius: 5px;
      padding: 5px;
      border: 1px solid rgba(128, 128, 128, 0.132);
      box-shadow: 5px 10px 15px rgba(128, 128, 128, 0.162);
    }
    h3 {
      color: $txt-blue;
      // border: 2px solid red;
    }

    .review-text {
      // border: 2px solid red;
      // @include flexDisplay(center, center, column);
      color: $txt-blue;
      margin-top: 10px;
      p {
        color: $font-light;
        font-size: 15px;
        line-height: 1.5;
        font-style: italic;

        @include responsive(tablet) {
          font-size: 20px;
        }
      }
    }
  }
}

// LOADER STYLE
.loader-con {
  // border: 1px solid red;
  @include flexDisplay(center, center, row);
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  // border: 1px solid red;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: $txt-blue;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

// PAGE ADVERYS
.ad-con {
  position: relative;
  width: 100%;
  // border: 2px solid red;
  margin-top: 20px;
  @include responsive(bigphone) {
    margin-top: 70px;
  }
  .ad-img {
    @include flexDisplay(center, center, row);
    border: 2px solid red;
    margin: 0 auto;
    height: 150px;
    border-radius: 10px;
    width: 98vw;
    padding-left: 5px;
    img {
      margin: 0 auto;
      cursor: pointer;
      object-fit: contain;
      height: 100px;
      width: 30vw;
      border: 1px solid red;
      @include responsive(bigphone) {
        height: 100px;
        width: 30vw;
      }
    }

    h3 {
      text-align: center;
      color: $txt-blue;
      font-size: 15px;
    }
  }
}

// MODAL TO LOGIN IN
.modal-main-con {
  position: absolute;
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  backdrop-filter: blur(10px);

  .modal-relative {
    @include flexDisplay(center, center, row);
    position: relative;
    width: 100%;
    height: 100%;
    overflow: scroll;

    .modal-card {
      @include flexDisplay(center, center, column);
      box-shadow: -5px -10px 15px rgba(128, 128, 128, 0.625);
      border-radius: 5px;
      width: 90% !important;
      // max-width: 400px;
      position: relative;
      // border: 2px solid red;
      background: white;

      .go-back {
        position: absolute;
        z-index: 20;
        cursor: pointer;
        top: 5px;
        left: 5px;
        background: #ea9319;
        border: 1px solid #8080802b;
        color: white;
        width: 70px;
        height: 30px;
        text-align: center;
        border-radius: 10px;
        font-size: 18px;
        &:hover {
          background: gray;
        }
      }
      .go-back-form {
        position: static;
        position: absolute;

        z-index: 20;
        cursor: pointer;
        top: -40px;
        left: 5px;
        background: #ea9319;
        border: 1px solid #8080802b;
        color: white;
        width: 70px;
        height: 30px;
        text-align: center;
        border-radius: 10px;
        font-size: 18px;
        &:hover {
          background: gray;
        }
      }
      .modal-img-con {
        @include flexDisplay(center, center, row);
        width: 100%;

        img {
          width: 70% !important;
        }
      }
      .modal-text {
        @include flexDisplay(center, center, column);

        p {
          color: $font-light;
          text-align: center;
        }

        .modal-link {
          // border: 2px solid red;
          margin: 20px;
          width: 50%;
          text-align: center;
          background: $txt-blue;
          color: white;
          padding: 10px;
          animation: signin 2s ease-in-out infinite;

          &:hover {
            background: #a97617;
          }
          @keyframes signin {
            0% {
              transform: scale(1);
            }
            50% {
              transform: scale(0.95);
            }
            100% {
              transform: scale(1);
            }
          }
        }
      }
      h3 {
        padding-top: 10px;
        text-align: center;
        // border: 2px solid red;
      }
      form {
        @include flexDisplay(center, center, column);
        // overflow-y: scroll;
        // max-height: 100vh;

        label {
          border: 2px solid red;
          margin-bottom: -100px;
          width: 100%;
        }
        input {
          width: 90%;
          height: 40px;
          margin: 10px;
          padding: 5px;
          border-radius: 5px;
          border: 1px solid gray;
        }
        span {
          margin-top: -10px;
          width: 90%;
          text-align: left;
        }
        .Box {
          // border: 2px solid red;

          .add-new-input {
            // border: 2px solid red;
            width: 90%;
            margin-top: -5px;
            p {
              // border: 2px solid red;
              margin-left: auto;
              font-size: 13px;
              color: blue;
            }
          }
        }
        .mantine-group {
          // border: 2px solid red;
          position: relative;

          .remove-input-icon {
            position: absolute;
            font-size: 20px;
            right: 5%;
          }
        }
        .selectedImg {
          width: 90%;
          @include flexDisplay(flex-start, center, row);
          flex-wrap: wrap;
        }
      }
    }
  }
}

// FOOTER
.footer-main-con {
  background: white;
  margin-top: -7px;
  padding-top: 30px;
  background: $txt-blue;

  .footer-con {
    @include flexDisplay(space-around, center, column);
    @include responsive(bigphone) {
      max-width: 1100px;
      margin: 0 auto;
      @include flexDisplay(space-around, center, row);
    }
    .top-con {
      background: whitesmoke;
      padding: 20px 10px;
      width: 90%;

      @include responsive(bigphone) {
        @include flexDisplay(center, flex-start, column);
        height: 40vh;
        max-width: 400px;
        margin: 20px;
      }
      .img-con {
        width: 100%;
        max-width: 400px;

        img {
          width: 100%;
        }
      }
      p {
        font-size: 15px;
        margin-top: 20px;
      }

      .icon-con {
        width: 70%;
        // padding: 5px;
        margin-top: 20px;
        @include flexDisplay(space-around, center, row);

        .icon {
          color: white;
          background: $bg-dark;
          width: 35px;
          height: 35px;
          padding: 5px;
          margin: 0 5px;

          &:hover {
            transform: translateY(-5px);
          }
        }
      }
    }

    .lower-con {
      width: 90%;
      margin-top: 20px;
      @include flexDisplay(space-around, flex-start, column);
      @include responsive(bigphone) {
        @include flexDisplay(space-around, center, row);
      }
      .quick-link {
        margin-bottom: auto;
        @include flexDisplay(center, flex-start, column);
        @include responsive(bigphone) {
          width: 30%;
        }
        h3 {
          border-bottom: 2px solid black;
          padding-bottom: 10px;
          margin-bottom: 10px;
          margin-top: 30px;

          @include responsive(bigphone) {
            font-size: 15px;
          }
        }
        .links {
          color: $bg-light;
          margin-bottom: 10px;
        }
      }
    }
  }
  .copyright {
    padding: 20px 5px;
    margin-top: 50px;
    // background: $bg-blue;
    p {
      text-align: center;
      color: white;
    }
  }
}
// ADVANTAGE

.advantage-main-con {
  // border: 2px solid red;
  width: 100%;
  margin: 100px 0 0 0;
  margin-bottom: 50px;

  .advantage-con {
    // border: 2px solid red;
    @include flexDisplay(space-around, center, row);
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;

    .advantage-img-con {
      // border: 2px solid red;
      width: 70px;
      height: 50px;

      @include responsive(bigphone) {
        width: 100px;
        height: 70px;
      }
      .img {
        width: 100%;
        height: 100%;
      }

      p {
        // border: 2px solid red;
        text-align: center;
        font-size: 10px;

        @include responsive(bigphone) {
          font-size: 14px;
        }
      }
    }
  }
}
