// @import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@300&family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
  background-color: rgba(65, 105, 225, 0);
}

$font-family: "Poppins", sans-serif;
$bg-light: #f9f9f9;
$font-light: #666;
$bg-gray: #eee;
$bg-dark-gray: #444;
$bg-dark: #342e37;
$txt-blue: #ea9319;
$txt-light-blue: #cfe8ff;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint, $orientation: portrait) {
  @if $orientation == portrait {
    @if $breakpoint == phone {
      @media only screen and (min-width: 320px) {
        @content;
      }
    }
    @if $breakpoint == bigphone {
      @media only screen and (min-width: 768px) {
        @content;
      }
    }
    @if $breakpoint == tablet {
      @media only screen and (min-width: 1024px) {
        @content;
      }
    }
    @if $breakpoint == desktop {
      @media only screen and (min-width: 1200px) {
        @content;
      }
    }
  } @else if $orientation == landscape {
    @if $breakpoint == phone {
      @media only screen and (min-width: 480px) and (orientation: landscape) {
        @content;
      }
    }
    @if $breakpoint == bigphone {
      @media only screen and (min-width: 1024px) and (orientation: landscape) {
        @content;
      }
    }
    @if $breakpoint == tablet {
      @media only screen and (min-width: 1200px) and (orientation: landscape) {
        @content;
      }
    }
    @if $breakpoint == desktop {
      @media only screen and (min-width: 1600px) and (orientation: landscape) {
        @content;
      }
    }
  }
}

// APP MAIN CON
.app-main-con {
  overflow-x: hidden;
}
// icons
.icon {
  font-size: 30px;
  color: $txt-blue;
  cursor: pointer;

  @include responsive(bigphone, portrait) {
    font-size: 40px;
  }
}
// HOME PAGE MAIN CON
.homepage-main-con {
  max-width: 2000px;
  margin: 0 auto;
  padding-top: 50px;
  // background: #eee;
  position: relative;
  @include responsive(bigphone) {
    padding: 0;
  }

  .post-memory {
    background-color: aqua;
    @include flexDisplay(space-around, center, column);
    width: 80px;
    height: 80px;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 10px;
    border-radius: 50%;
    cursor: pointer;
    .post-icon {
      font-size: 60px;
      font-weight: bolder;
    }

    // @include responsive(bigphone, portrait) {
    //   left: 90%;
    //   // right: 20px;
    //   bottom: 30px;
    // }
  }
}

// TOP BAR
.topbar-main-con {
  @include flexDisplay(space-around, center, column);
  position: relative;

  z-index: 200;
  width: 100%;
  position: sticky;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 5px 5px 10px $bg-gray;
  // border: 2px solid red !important;

  .topbar-top-con {
    @include flexDisplay(space-between, center, row);
    width: 100%;
    padding: 5px 15px;
    position: sticky;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #04042880; /* Set your desired color and opacity */
    backdrop-filter: blur(5px);
    margin: 0 auto;
    // border: 2px solid red;
    max-width: 2000px !important;

    form {
      height: 35px;
      width: 55%;
      max-width: 400px;
      input {
        width: 100%;
        height: 100%;
        padding: 5px;
        border-radius: 5px;
      }
    }
    .topbar-top-con-right {
      @include flexDisplay(space-between, center, row);
      .cart-icon-con {
        // border: 2px solid red;
        border-radius: 50%;
        overflow: hidden;
        Image {
          object-fit: contain;
        }
      }
    }
  }
}

// side bar menu
.menu-con {
  // border: 2px solid red;
  background-color: #444;
  .settings {
    // border: 2px solid red;
    position: relative;
    .sharedMemory {
      border-right: 1px solid gray;
      @include flexDisplay(space-between, center, row);
      flex-wrap: wrap;
      max-height: 500px;
      min-width: 300px;
      overflow-y: scroll;
      padding: 10px;

      @include responsive(bigphone) {
        min-width: 350px;
      }
      .myMemoryCon {
        @include flexDisplay(space-between, center, column);
        width: 135px;
        height: 135px;
        margin-top: 5px;
        overflow: hidden;
        position: relative;

        @include responsive(bigphone) {
          height: 150px;
          width: 158px;
        }

        .imgQ {
          object-fit: cover;
        }
      }
    }
  }
}

// profile
.singleuser-con {
  border: 2px solid red;
  @include flexDisplay(space-between, center, column);

  width: 300px;
  margin: 0 auto;

  @include responsive(bigphone) {
    width: 158px;
  }
}
// images
.product-session-con {
  background: whitesmoke;

  padding: 10px 0;
  width: 100%;

  overflow-x: hidden;

  @include responsive(bigphone, portrait) {
    // margin-top: 100px;
    padding: 20px 0;
  }
  .product-main-con {
    @include flexDisplay(space-between, center, column);
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;

    form {
      @include flexDisplay(center, center, row);
      width: 100%;
      padding: 10px;

      div {
        width: 100%;
        max-width: 300px;
        margin: 0 10px;
        border: 1px solid $font-light;
        text-align: center;
      }
      label {
        color: $font-light;
      }
      select {
        width: 100%;
        height: 40px;
        padding: 0 5px;
        outline: none;
        border: none;
      }
    }
    p {
      cursor: pointer;
      color: $txt-blue;
      margin-top: 20px;
    }

    .products-con {
      @include flexDisplay(space-evenly, flex-start, row);
      flex-wrap: wrap;
      margin-top: 30px;
      width: 100%;

      @include responsive(bigphone, portrait) {
        @include flexDisplay(center, center, row);
      }

      .products {
        @include flexDisplay(space-between, center, column);
        width: 46%;
        margin: 5px 0;
        border-radius: 5px;
        background: white;
        overflow: hidden;
        border-right: 1px solid #f5f3f3;
        box-shadow: -1px -1px 2px #8080805e;
        position: relative;
        @include responsive(bigphone) {
          margin: 5px;
        }
        @include responsive(tablet, portrait) {
          width: 32%;
          margin: 5px;
        }
        @include responsive(tablet, portrait) {
          width: 32%;
          margin: 5px;
        }
        .main-poster-con {
          @include flexDisplay(space-between, flex-start, column);
        }
        .unknown-avata {
          font-size: 30px;
        }
        .poster-name {
          width: 100%;
          line-height: 1;
          padding: 2px 4px;
          @include flexDisplay(flex-start, center, row);

          .profile-img {
            @include flexDisplay(space-between, flex-start, column);
            border: 2px solid red;
            border-radius: 50%;
            overflow: hidden;
            width: 30px;
            height: 30px;

            @include responsive(bigphone, portrait) {
              width: 50px;
              height: 50px;
            }
            .img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .profile-name {
            margin-left: 3px;
            @include flexDisplay(space-between, flex-start, column);
            @include responsive(bigphone, portrait) {
              margin-left: 4px;
            }
            span {
              font-weight: 600;
              color: $bg-dark-gray;

              @include responsive(bigphone, portrait) {
                font-size: 20px;
              }
            }
            i {
              font-style: normal;
              font-size: 10px;
              color: $font-light;
              @include responsive(bigphone, portrait) {
                font-size: 15px;
              }
            }
          }
        }

        .product-name {
          margin-top: 3px;
          font-size: 12px;
          color: $bg-dark-gray;
          padding-left: 5px;
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          text-transform: lowercase;

          @include responsive(bigphone, portrait) {
            font-size: 15px;
          }
        }

        .product-img {
          width: 100%;
          // border-radius: 5px;
          overflow: hidden;
          position: relative;

          @include responsive(phone, portrait) {
            height: 180px;
          }
          @include responsive(bigphone, portrait) {
            height: 350px;
          }
          @include responsive(tablet, portrait) {
            height: 320px;
          }
          @include responsive(desktop, portrait) {
            height: 420px;
          }

          .home-product-img {
            // height: 100%;
            transition: transform 0.3s linear;
            object-fit: cover;

            &:hover {
              transform: scale(1.1);
            }
          }
        }

        .likenshare {
          @include flexDisplay(space-between, center, row);
          width: 100%;
          padding: 5px;
          color: $font-light;
          margin-top: 3px;

          span {
            @include flexDisplay(center, center, column);
            position: relative;

            sub {
              font-weight: normal;
              font-size: 10px;
              margin-top: 3px;
              height: 6px;
              @include responsive(bigphone, portrait) {
                font-size: 15px;
              }
            }
          }
          .likenshareicon {
            font-weight: 300;
            font-size: 30px;
            cursor: pointer;
            @include flexDisplay(center, center, row);

            @include responsive(bigphone, portrait) {
              font-size: 35px;
            }
            sub {
              // border: 2px solid red;
              text-align: center;
              font-size: 13px;
              margin-top: 15px;
              margin-left: -3px;
            }

            .like-red {
              animation: like 0.2s linear;

              @keyframes like {
                0% {
                  transform: scale(1.1);
                }
                100% {
                  transform: scale(1);
                }
              }
            }
          }
          .comment {
            font-size: 15px;
          }
        }

        .addto-cart {
          border: 1px solid red;
          width: 100%;
          margin: 0 auto;
          text-align: center;
          font-size: 15px;
          border-radius: 5px;
          cursor: pointer;
          background: white;
          @include flexDisplay(center, center, row);

          &:hover {
            background: $txt-blue;
            color: white;
          }
        }
      }
    }
    padding-bottom: 10px;
  }
}

// LOADER STYLE
.loader-con {
  // border: 1px solid red;
  @include flexDisplay(center, center, row);
  margin-top: 20vh;
  .loader {
    display: inline-block;
    text-align: center;
    line-height: 86px;
    text-align: center;
    position: relative;
    padding: 0 48px;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    // width: 100%;
    color: $txt-blue;
  }
  .loader:before,
  .loader:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: currentColor;
    position: absolute;
    animation: load 0.7s infinite alternate ease-in-out;
    top: 0;
  }
  .loader:after {
    top: auto;
    bottom: 0;
  }
  @keyframes load {
    0% {
      left: 0;
      height: 43px;
      width: 15px;
      transform: translateX(0);
    }
    50% {
      height: 10px;
      width: 40px;
    }
    100% {
      left: 100%;
      height: 43px;
      width: 15px;
      transform: translateX(-100%);
    }
  }
}

// PAGE ADVERYS
.ad-con {
  position: relative;
  width: 100%;
  border: 2px solid red;
  margin-top: 20px;
  @include responsive(bigphone, portrait) {
    margin-top: 70px;
  }
  .ad-img {
    @include flexDisplay(center, center, row);
    border: 2px solid red;
    margin: 0 auto;
    height: 200px;
    border-radius: 10px;
    // width: 98vw;
    padding-left: 5px;

    // @include responsive(bigphone) {
    //   height: 250px;
    //   width: 50%;
    // }
    // @include responsive(tablet) {
    //   width: 98%;
    //   height: 250px;
    // }
    img {
      margin: 0 auto;
      cursor: pointer;
      object-fit: contain;
      height: 100px;
      width: 30vw;
      border: 1px solid red;
      @include responsive(bigphone, portrait) {
        height: 100px;
        width: 30vw;
      }
    }

    h3 {
      text-align: center;
      color: $txt-blue;
      font-size: 15px;
    }
  }
}

// MODAL TO LOGIN IN
.modal-main-con {
  position: relative;
  // position: fixed;
  // z-index: 200;
  // width: 100%;
  // height: 100%;
  // top: 0;
  backdrop-filter: blur(10px) !important;
  // border: 2px solid red;
  position: relative;
  @include flexDisplay(center, center, row);

  .modal-relative {
    @include flexDisplay(center, center, row);
    position: relative;
    // width: 100%;
    // border: 2px solid rgb(0, 255, 89);

    // overflow: scroll;
    height: 100% !important;
    margin-top: auto !important;

    .modal-card {
      @include flexDisplay(center, center, column);
      box-shadow: -5px -10px 15px #8080809f;
      border-radius: 5px;
      width: 90% !important;
      max-width: 400px;
      position: relative;

      background: white;

      @include responsive(phone, landscape) {
        transform: rotateZ(90deg) !important;
        max-width: 300px !important;
      }
      @include responsive(bigphone) {
        transform: rotateZ(0deg) !important;
        max-width: 400px !important;
      }
      .go-back {
        position: absolute;
        z-index: 20;
        cursor: pointer;
        top: 5px;
        left: 5px;
        background: #ea9319;
        border: 1px solid #8080802b;
        color: white;
        width: 30px !important;
        height: 30px;
        padding: 5px;
        text-align: center;
        border-radius: 50%;
        font-size: 20px;
        font-weight: bolder;
        &:hover {
          background: gray;
        }
      }
      .go-back-form {
        position: absolute;

        z-index: 20;
        cursor: pointer;
        top: -20px;
        left: 0px;

        background: #ea9319;
        border: 1px solid #8080802b;
        color: white;
        width: 30px;
        height: 30px;
        padding: 5px;
        text-align: center;
        border-radius: 50%;
        font-size: 20px;
        font-weight: bolder;

        &:hover {
          background: gray;
        }
        @include responsive(tablet, portrait) {
          top: 0px;
          left: -80px;
        }
      }
      .modal-img-con {
        @include flexDisplay(center, center, row);
        width: 100%;

        img {
          width: 70% !important;
        }
      }
      .modal-text {
        @include flexDisplay(center, center, column);

        p {
          color: $font-light;
          text-align: center;
        }

        .modal-link {
          // border: 2px solid red;
          margin: 20px;
          width: 50%;
          text-align: center;
          background: $txt-blue;
          color: white;
          padding: 10px;
          animation: signin 2s ease-in-out infinite;

          &:hover {
            background: #a97617;
          }
          @keyframes signin {
            0% {
              transform: scale(1);
            }
            50% {
              transform: scale(0.95);
            }
            100% {
              transform: scale(1);
            }
          }
        }
      }
      h3 {
        padding-top: 10px;
        text-align: center;
        // border: 2px solid red;
      }

      .form-con {
        height: 550px;
        width: 100%;
        overflow: scroll;

        form {
          @include flexDisplay(center, center, column);

          input,
          select {
            width: 90%;
            height: 40px;
            margin: 10px;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid gray;
          }
          span {
            margin-top: -10px;
            width: 90%;
            text-align: left;
          }
          .Box {
            // border: 2px solid red;

            .add-new-input {
              // border: 2px solid red;
              width: 90%;
              margin-top: -5px;
              p {
                // border: 2px solid red;
                margin-left: auto;
                font-size: 13px;
                color: blue;
              }
            }
          }
          .mantine-group {
            // border: 2px solid red;
            position: relative;

            .remove-input-icon {
              position: absolute;
              font-size: 20px;
              right: 5%;
            }
          }
          .selectedImg {
            width: 90%;
            @include flexDisplay(flex-start, center, row);
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}
