// @import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@300&family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
  //   background: #001d3d;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
  background-color: rgba(65, 105, 225, 0);
}

$font-family: "Poppins", sans-serif;
$bg-light: #f9f9f9;
$font-light: #666;
$bg-gray: #eee;
$bg-dark-gray: #444;
$bg-dark: #342e37;
$txt-blue: #ea9319;
$txt-light-blue: #cfe8ff;

// ///////////
$font-family: "Poppins", sans-serif;
$navbar-con-color: #003566;
$sreen-max-width: 2000px;
$creator-bold: #219ebc;
$text-color: #8ecae6;
$transparent-bg: #12688200;
$placeholder-color: #1a97bf;
$creator-text-color: #0b5b6f;
$general-bg: #001d3d;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint, $orientation: portrait) {
  @if $orientation == portrait {
    @if $breakpoint == phone {
      @media only screen and (min-width: 320px) {
        @content;
      }
    }
    @if $breakpoint == bigphone {
      @media only screen and (min-width: 768px) {
        @content;
      }
    }
    @if $breakpoint == tablet {
      @media only screen and (min-width: 1024px) {
        @content;
      }
    }
    @if $breakpoint == desktop {
      @media only screen and (min-width: 1200px) {
        @content;
      }
    }
  } @else if $orientation == landscape {
    @if $breakpoint == phone {
      @media only screen and (min-width: 480px) and (orientation: landscape) {
        @content;
      }
    }
    @if $breakpoint == bigphone {
      @media only screen and (min-width: 1024px) and (orientation: landscape) {
        @content;
      }
    }
    @if $breakpoint == tablet {
      @media only screen and (min-width: 1200px) and (orientation: landscape) {
        @content;
      }
    }
    @if $breakpoint == desktop {
      @media only screen and (min-width: 1600px) and (orientation: landscape) {
        @content;
      }
    }
  }
}

.LoginModal-con {
  border: 2px solid red !important;
  background: transparent;
  //   background: red;
  width: 100%;
  height: 100%;
  //   position: absolute;
  //   z-index: 40000;
  .modals {
    border: 2px solid red !important;
    background: transparent;
    background: red;
    // z-index: 40000;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
