@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
  background-color: rgba(65, 105, 225, 0);
}

.modal-main-con {
  -webkit-backdrop-filter: blur(2px) !important;
          backdrop-filter: blur(2px) !important;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.4666666667);
  z-index: 20;
  width: 100%;
  height: 100%;
  position: fixed;
}
.modal-main-con .modal-relative {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  height: 100% !important;
  width: 100%;
  margin-top: auto !important;
  background: transparent;
}
.modal-main-con .modal-relative .modal-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: -5px -10px 15px rgba(128, 128, 128, 0.6235294118);
  border-radius: 5px;
  width: 90% !important;
  max-width: 520px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background: #d8f2ff !important;
}
@media only screen and (min-width: 480px) and (orientation: landscape) {
  .modal-main-con .modal-relative .modal-card {
    transform: rotateZ(90deg) !important;
    max-width: 520px !important;
  }
}
@media only screen and (min-width: 768px) {
  .modal-main-con .modal-relative .modal-card {
    transform: rotateZ(0deg) !important;
    max-width: 520px !important;
  }
}
@media only screen and (min-width: 1024px) {
  .modal-main-con .modal-relative .modal-card {
    height: 90% !important;
    max-height: 750px !important;
  }
}
.modal-main-con .modal-relative .modal-card .go-back-login {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 5px;
  background: transparent;
  color: #001d3d;
}
.modal-main-con .modal-relative .modal-card .go-back-login .login-close-icon {
  font-size: 24px;
  background: transparent;
}
.modal-main-con .modal-relative .modal-card .go-back-login .go-bac {
  color: #8ecae6 !important;
}
@media only screen and (min-width: 1024px) {
  .modal-main-con .modal-relative .modal-card .go-back-login .go-bac {
    color: #000c18 !important;
  }
}
.modal-main-con .modal-relative .modal-card .download-image {
  position: absolute;
  position: static;
  cursor: pointer;
  margin-right: auto;
  margin-top: -15px;
  background: transparent;
  color: #8ecae6 !important;
}
.modal-main-con .modal-relative .modal-card .download-image .login-close-icon {
  font-size: 24px;
  background: transparent;
}
@media only screen and (min-width: 1024px) {
  .modal-main-con .modal-relative .modal-card .download-image {
    position: absolute;
    margin-right: 5px;
  }
}
.modal-main-con .modal-relative .modal-card .go-back-form {
  position: absolute;
  z-index: 20;
  cursor: pointer;
  top: -20px;
  left: 0px;
  background: #ea9319;
  border: 1px solid rgba(128, 128, 128, 0.168627451);
  color: white;
  width: 30px;
  height: 30px;
  padding: 5px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bolder;
}
.modal-main-con .modal-relative .modal-card .go-back-form:hover {
  background: gray;
}
@media only screen and (min-width: 1024px) {
  .modal-main-con .modal-relative .modal-card .go-back-form {
    top: 0px;
    left: -80px;
  }
}
.modal-main-con .modal-relative .modal-card .modal-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: transparent;
  padding: 55px;
  width: 100%;
}
.modal-main-con .modal-relative .modal-card .modal-text .login-stop-icon {
  background: transparent;
  color: #b80101;
  font-size: 50px;
}
.modal-main-con .modal-relative .modal-card .modal-text p {
  text-align: center;
  color: #000c18;
  font-family: Fira Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: transparent;
}
.modal-main-con .modal-relative .modal-card .modal-text .modal-link {
  border-radius: 10px;
  width: 96%;
  text-align: center;
  background: transparent;
  color: #000c18;
  padding: 20px;
  border: 2px solid #000c18;
  margin-top: 24px;
  cursor: pointer;
}
.modal-main-con .modal-relative .modal-card .modal-text .modal-link:hover {
  color: #d8f2ff;
  background: #001d3d;
}
.modal-main-con .modal-relative .modal-card h3 {
  padding-top: 10px;
  text-align: center;
}
.modal-main-con .modal-relative .modal-card .form-con {
  background: transparent;
}
.modal-main-con .modal-relative .modal-card .form-con form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: transparent;
}
.modal-main-con .modal-relative .modal-card .form-con form .file-input-main-con {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  gap: 10px;
  background: #cae5f3;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.modal-main-con .modal-relative .modal-card .form-con form .file-input-main-con .file-input-con {
  position: relative;
  width: 100%;
  cursor: pointer;
  height: 100%;
  overflow: hidden;
}
.modal-main-con .modal-relative .modal-card .form-con form .file-input-main-con .file-input-con .file-input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
.modal-main-con .modal-relative .modal-card .form-con form .file-input-main-con .file-input-con .file-input-holder {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  color: #001d3d;
}
.modal-main-con .modal-relative .modal-card .form-con form .file-input-main-con .file-input-con .file-input-holder .input-icon {
  background: transparent;
  font-size: 50px;
  cursor: pointer;
}
.modal-main-con .modal-relative .modal-card .form-con form .file-input-main-con .file-input-con .file-input-holder p {
  background: transparent !important;
  font-size: 15px;
  cursor: pointer;
}
.modal-main-con .modal-relative .modal-card .form-con form .file-input-main-con .file-input-con .img-loader-cont {
  margin-top: 10px;
  width: 100%;
}
.modal-main-con .modal-relative .modal-card .form-con form .file-input-main-con .file-input-con .loader {
  display: block;
  position: relative;
  height: 32px;
  width: 100%;
  background: transparent;
  border: 1px solid #003566;
  border-radius: 5px;
  color: #003566;
  overflow: hidden;
}
.modal-main-con .modal-relative .modal-card .form-con form .file-input-main-con .file-input-con .loader::before {
  content: "";
  background: #001d3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  animation: loading 10s linear infinite;
}
.modal-main-con .modal-relative .modal-card .form-con form .file-input-main-con .file-input-con .loader:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  color: #003566;
  animation: percentage 10s linear infinite;
}
@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes percentage {
  0% {
    content: "0%";
  }
  5% {
    content: "5%";
  }
  10% {
    content: "10%";
  }
  20% {
    content: "20%";
  }
  30% {
    content: "30%";
  }
  40% {
    content: "40%";
  }
  50% {
    color: #1a97bf;
    content: "50%";
  }
  60% {
    content: "60%";
  }
  70% {
    color: #1a97bf;
    content: "70%";
  }
  80% {
    content: "80%";
  }
  90% {
    content: "90%";
  }
  95% {
    color: #1a97bf;
    content: "95%";
  }
  96% {
    content: "96%";
  }
  97% {
    content: "97%";
  }
  98% {
    content: "98%";
  }
  99% {
    color: #1a97bf;
    content: "99%";
  }
  100% {
    content: "100%";
  }
}
.modal-main-con .modal-relative .modal-card .form-con form input,
.modal-main-con .modal-relative .modal-card .form-con form select {
  width: 90%;
  height: 40px;
  margin: 10px;
  margin-top: 18px;
  padding: 12px;
  border-radius: 5px;
  border: none;
  background: #cae5f3;
  font-size: 13px;
  color: #001d3d;
}
.modal-main-con .modal-relative .modal-card .form-con form span {
  margin-top: -10px;
  width: 90%;
  text-align: left;
  background: transparent;
}
.modal-main-con .modal-relative .modal-card .form-con form .Box {
  width: 90%;
  background: transparent;
}
.modal-main-con .modal-relative .modal-card .form-con form .Box .add-new-input {
  width: 90%;
  margin-top: -5px;
  background: transparent !important;
}
.modal-main-con .modal-relative .modal-card .form-con form .Box .add-new-input p {
  font-size: 13px;
  color: #001d3d;
  cursor: pointer;
  margin-top: 4px;
  background: transparent !important;
}
.modal-main-con .modal-relative .modal-card .form-con form .submit-btn {
  display: flex;
  width: 90%;
  height: 44px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #ffb703;
  color: #001d3d;
  font-family: Fira Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.modal-main-con .modal-relative .modal-card .form-con form .submit-btn:hover {
  background: #fd9e02;
}
.modal-main-con .modal-relative .modal-card .form-con form .mantine-group {
  position: relative;
}
.modal-main-con .modal-relative .modal-card .form-con form .mantine-group .textArea-Input {
  width: 100%;
  height: 70px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-size: 13px;
  color: #001d3d;
}
.modal-main-con .modal-relative .modal-card .form-con form .mantine-group .remove-input-icon {
  position: absolute;
  background: transparent;
  font-size: 20px;
  right: 5%;
}
.modal-main-con .modal-relative .modal-card .form-con form .selectedImg {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
.modal-main-con .modal-relative .modal-card .form-con form .selectedImg div {
  position: relative;
  height: 70px;
  margin: 8px;
  background: #cae5f3;
}
.modal-main-con .modal-relative .modal-card .form-con form .selectedImg div .delete-pic {
  position: absolute;
  top: -8px;
  right: -10px;
  color: red;
  color: #001d3d;
  font-size: 20px;
  font-weight: bolder;
  background: transparent;
  cursor: pointer;
}
.modal-main-con .modal-relative .modal-card .form-con form .selectedImg div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background: transparent;
}
.modal-main-con .modal-relative .forDynamic-picture {
  width: 95% !important;
  height: 700px;
}
@media only screen and (min-width: 1024px) {
  .modal-main-con .modal-relative .forDynamic-picture {
    padding: 32px;
    max-width: 900px !important;
    height: 550px;
    overflow: hidden !important;
  }
}
@media only screen and (min-width: 1200px) {
  .modal-main-con .modal-relative .forDynamic-picture {
    padding: 32px;
    max-width: 1100px !important;
    height: 684px;
    overflow: hidden !important;
  }
}
.modal-main-con .modal-relative .forDynamic-picture .Dynamic-picture-details {
  background: transparent !important;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
@media only screen and (min-width: 1024px) {
  .modal-main-con .modal-relative .forDynamic-picture .Dynamic-picture-details {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    overflow: hidden;
  }
}
.modal-main-con .modal-relative .forDynamic-picture .Dynamic-picture-details .image-side-main-con {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  padding-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .modal-main-con .modal-relative .forDynamic-picture .Dynamic-picture-details .image-side-main-con {
    width: 45%;
    height: 100%;
    border-radius: 10px;
  }
}
.modal-main-con .modal-relative .forDynamic-picture .Dynamic-picture-details .image-side-main-con .main-image-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: transparent !important;
  border-radius: 10px !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 10px;
}
.modal-main-con .modal-relative .forDynamic-picture .Dynamic-picture-details .image-side-main-con .main-image-con .likenshare {
  position: absolute;
  background: transparent;
  width: 50px;
  height: 50px;
  bottom: 10px;
  right: 10px;
}
.modal-main-con .modal-relative .forDynamic-picture .Dynamic-picture-details .image-side-main-con .main-image-con .likenshare .likenshareicon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  padding: 2px;
  background: rgba(0, 29, 61, 0.7);
  margin-left: auto;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .modal-main-con .modal-relative .forDynamic-picture .Dynamic-picture-details .image-side-main-con .main-image-con .likenshare .likenshareicon {
    font-size: 35px;
  }
}
.modal-main-con .modal-relative .forDynamic-picture .Dynamic-picture-details .image-side-main-con .main-image-con .likenshare .likenshareicon .icon {
  font-size: 20px;
  text-align: center;
  color: #8ecae6;
}
.modal-main-con .modal-relative .forDynamic-picture .Dynamic-picture-details .image-side-main-con .main-image-con .likenshare .likenshareicon sub {
  font-weight: normal;
  font-size: 10px;
  font-size: 10px;
  bottom: 6px;
  position: absolute;
  color: #8ecae6;
  background: transparent;
}
.modal-main-con .modal-relative .forDynamic-picture .Dynamic-picture-details .image-side-main-con .main-image-con .likenshare .likenshareicon .like-red {
  animation: like 0.2s linear;
}
@keyframes like {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.modal-main-con .modal-relative .forDynamic-picture .Dynamic-picture-details .image-side-main-con .main-image-con .cadet-img {
  background: transparent !important;
  width: 100%;
  height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px !important;
}
@media only screen and (min-width: 1024px) {
  .modal-main-con .modal-relative .forDynamic-picture .Dynamic-picture-details .image-side-main-con .main-image-con .cadet-img {
    height: 100%;
  }
}
.modal-main-con .modal-relative .forDynamic-picture .Dynamic-picture-details .image-side-main-con .small-display {
  width: 100%;
  max-width: 480px;
  height: 20%;
  padding: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
  background: transparent !important;
}
.modal-main-con .modal-relative .forDynamic-picture .Dynamic-picture-details .image-side-main-con .small-display .small-display-img {
  background: transparent !important;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; /* Adjust the gap between images */
}
.modal-main-con .modal-relative .forDynamic-picture .Dynamic-picture-details .image-side-main-con .small-display .small-display-img .display-img {
  background: transparent !important;
  margin: 5px;
  width: 65px;
  height: 65px;
  overflow: hidden;
  transition: all 0.1s ease;
}
.modal-main-con .modal-relative .forDynamic-picture .Dynamic-picture-details .image-side-main-con .small-display .small-display-img .display-img .smalling {
  background: transparent !important;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.modal-main-con .modal-relative .forDynamic-picture .Dynamic-picture-details .image-side-main-con .small-display .small-display-img .chosen-image {
  border: 2px solid #8ecae6;
}
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con {
  width: 100%;
  padding: 10px;
  background: transparent;
}
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con div {
  background: transparent;
}
@media only screen and (min-width: 1024px) {
  .modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con {
    width: 55%;
    margin-left: 30px;
    padding: 10px;
    height: 100%;
    overflow-y: scroll;
  }
}
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .poster-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .poster-details .poster-details-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .poster-details .poster-details-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .poster-details .poster-name-con {
  margin-left: 15px;
  background: transparent;
}
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .poster-details .poster-name-con .poster-name {
  background: transparent;
  color: #001d3d;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .poster-details .poster-name-con .time-sent {
  background: transparent;
  color: rgba(0, 29, 61, 0.6431372549);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .post-details {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  background: transparent;
  margin-top: 13px;
}
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .post-details .post-details-icon {
  background: transparent;
  margin-top: 0px;
  font-size: 20px;
  color: #001d3d;
}
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .post-details .post-detail {
  margin-left: 11px;
  width: 95%;
  background: transparent;
  font-family: Fira Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media only screen and (min-width: 768px) {
  .modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .post-details .post-detail {
    font-size: 18px;
  }
}
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .post-details .post-detail span,
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .post-details .post-detail p {
  color: #001d3d;
  font-family: Fira Sans;
  background: transparent;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media only screen and (min-width: 768px) {
  .modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .post-details .post-detail span,
  .modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .post-details .post-detail p {
    font-size: 18px;
  }
}
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .post-details .post-detail span span,
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .post-details .post-detail p span {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #001d3d;
  color: #767575 !important;
}
@media only screen and (min-width: 768px) {
  .modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .post-details .post-detail span span,
  .modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .post-details .post-detail p span {
    font-size: 18px;
  }
}
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .review-con {
  margin-top: 32px;
  background: transparent;
}
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .review-con div,
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .review-con form,
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .review-con span,
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .review-con input,
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .review-con form,
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .review-con textarea,
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .review-con .chatit {
  background: transparent;
}
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .review-con .review-form-con form {
  width: 92%;
  margin-left: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .review-con .review-form-con form {
    width: 95%;
  }
}
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .review-con .review-form-con form textarea {
  width: 100%;
  height: 124px;
  border-radius: 10px;
  background: #cae5f3;
  padding: 16px;
  font-family: Fira Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .review-con .review-form-con form input {
  display: flex;
  width: 107px;
  height: 44px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #ffb703;
  border: none;
  margin-left: auto;
  margin-top: 15px;
  color: #040303;
  font-family: Fira Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .review-con .review-form-con form input {
    margin-top: 24px;
  }
}
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .review-con .reviews {
  width: 92%;
  margin-top: 27px;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .review-con .reviews {
    width: 95%;
  }
}
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .review-con .reviews .quote {
  margin-top: 17px;
  padding-bottom: 16px;
  border-bottom: 2px solid #cae5f3;
}
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .review-con .reviews .quote .commentimage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .review-con .reviews .quote .commentimage img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .review-con .reviews .quote .commenter-name {
  color: #001d3d;
  font-family: Archivo Expanded;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media only screen and (min-width: 768px) {
  .modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .review-con .reviews .quote .commenter-name {
    font-size: 16px;
  }
}
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .review-con .reviews .quote .commenter-name .time-posted {
  font-size: 10px;
  background: transparent;
  color: rgba(0, 29, 61, 0.6431372549);
}
.modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .review-con .reviews .quote .quote-text {
  background: transparent;
  color: #001d3d;
  font-family: Fira Sans;
  font-size: 13px;
  margin-top: 6px;
}
@media only screen and (min-width: 768px) {
  .modal-main-con .modal-relative .forDynamic-picture .details-comment-main-con .review-con .reviews .quote .quote-text {
    font-size: 15px;
  }
}

.Dark-for-form {
  display: none !important;
}
@media only screen and (min-width: 1024px) {
  .Dark-for-form {
    display: block !important;
  }
}/*# sourceMappingURL=modals.css.map */